body {
  background-color: #e5e5e5;
  padding-top: 50px;
}

.App {
  text-align: center;
}

.App-header {
  color: #eb5424;
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

.App-header span {
  color: #666;
}
.App-title {
  font-size: 18px;
  font-weight: bold;
  text-align:left;
  margin: 0;
  padding-left: 30px;
}

.App-title a {
  text-decoration: none;
  font-size: 16px;
  margin-left: 30px;
  color: #333;
}
.App_content {
  background-color: #ffffff;
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
}
.App_content img {
  display: inline-block;
  width: 55px;
  vertical-align: middle;
}
.App_content .desc {
  display: inline-block;
  color: #666;
  margin: 0;
}
.App_content .path {
  display: inline-block;
  margin: 0;
}
.App_content a {
  text-decoration: none;
  color: #666;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
